.game-info-container {
  width: 100%;
  margin-top: 50px;

  .game-info-1 {
    .title {
      font-size: 80px;
      font-weight: bold;
      display: inline-block;
      margin-bottom: 0;
    }

    .game-scores-container {
      float: right;
      width: 50%;
      font-size: 13px;
      font-weight: bold;

      div {
        text-align: center;
        padding: 10px;
        background: #bbada0;
        border-radius: 3px;
        float: right;

        span {
          color: #eee4da;

          &:last-child {
            color: #fff;
            display: block;
            font-size: 25px;
          }
        }
      }

      .score {
        margin-right: 10px;
      }

      .best-score {
        width: 150px;
      }
    }
  }

  .game-info-2 {
    margin-top: 20px;

    div {
      display: inline-block;
      line-height: 40px;
      font-weight: 400;

      @media (max-width: 639px) {
        width: 320px;
        line-height: 1;
      }
    }

    button.button {
      float: right;
      background: #8f7a66;
      height: 40px;
      border-radius: 3px;
      border: none;
      padding: 0 20px;
      margin-bottom: 0;
      letter-spacing: 0;
      text-transform: none;
      line-height: 40px;
      color: #f9f6f2;
    }
  }
}
