$tile-width: 106.25px;
$tile-count: 4;
$tile-padding: 15px;

.game-arena-container {
  height: 500px;

  &.column {
    margin-top: 30px;
    position: relative;
    padding: 15px;
    background: #bbada0;
    border-radius: 6px;
  }

  .grid-container {
    position: absolute;
  }

  .rowe {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;

    &:last-child {
      margin-bottom: 0;
    }

    .column {
      margin-right: 15px;
      padding: 0;
      text-align: center;
      margin-bottom: 0;
      width: $tile-width;
      height: $tile-width;
      border-radius: 3px;
      background: rgba(238, 228, 218, 0.35);

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .tiles-container {
    position: absolute;
    z-index: 2;
  }

  .game-over-container {
    position: relative;
    height: 100%;
    background: rgba(238, 228, 218, 0.73);
    z-index: 100;

    .game-over {
      text-align: center;
      position: absolute;
      top: 40%;
      left: 50%;
      width: 75%;
      transform: translate(-50%, -50%);
    }

    .text {
      margin-bottom: 30px;
      font-size: 60px;
      font-weight: bold;
    }

    .button {
      background: #8f7a66;
      height: 40px;
      border-radius: 3px;
      border: none;
      padding: 0 20px;
      margin-bottom: 0;
      letter-spacing: 0;
      text-transform: none;
      line-height: 40px;
      color: #f9f6f2;
    }
  }
}
