body,
html {
  margin: 0;
  height: 100%;
  color: #776e65;
  font-size: 18px;
}

body {
  background-color: #faf8ef;
}

.cont {
  width: 464px;
  margin: 0 auto;

  @media (max-width: 520px) {
    width: 300px;
    overflow: hidden;
  }
}
